apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority: /var/lib/kubelet/ca.crt
    server: https://{{ api_host }}:{{ api_port }}
contexts:
- name: default-context
  context:
    cluster: kubernetes
    user: kubelet-bootstrap
current-context: default-context
users:
- name: kubelet-bootstrap
  user:
    token: {{ bootstrap_token_id }}.{{ bootstrap_token_secret }}
