apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority-data: {{ ca_crt }}
    server: {% if component == 'admin' %}https://{{ api_fqdn }}:6443{% else %}https://kube-apiserver:{{ api_port }}{% endif %}

users:
- name: {{ component }}
  user:
    client-certificate-data: {{ cert }}
    client-key-data: {{ key }}

contexts:
- name: {{ component }}@kubernetes
  context:
    cluster: kubernetes
    user: {{ component }}

current-context: {{ component }}@kubernetes
