cluster_name="{{ cluster_name }}"
service_cidr="{{ service_cidr | default('10.3.0.0/16') }}"
etcd_image="registry.k8s.io/etcd:{{ etcd_version | default('"3.5.9-0') }}"
kube_apiserver_image="registry.k8s.io/kube-apiserver:v{{ k8s_version | default('1.31.0') }}"
kube_apiserver_port="{{ kube_apiserver_port | default('6443') }}"
kube_apiserver_advertise_address="{{ kube_apiserver_advertise_address | default('127.0.0.1') }}"
kube_apiserver_allow_privileged="{{ kube_apiserver_allow_privileged | default('true') }}"
kube_apiserver_service_node_port_range="{{ kube_apiserver_service_node_port_range | default('30000-32767') }}"
kube_apiserver_authorization_mode="{{ kube_apiserver_authorization_mode | default('Node,RBAC') }}"
kube_apiserver_enable_bootstrap_token_auth="{{ kube_apiserver_enable_bootstrap_token_auth | default('true') }}"
kube_apiserver_bind_address="{{ kube_apiserver_bind_address | default('0.0.0.0') }}"
kube_apiserver_enable_admission_plugins="{{ kube_apiserver_enable_admission_plugins | default('NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota') }}"
kube_apiserver_secure_port="{{ kube_apiserver_secure_port | default('6443') }}"
kube_apiserver_runtime_config="{{ kube_apiserver_runtime_config | default('api/all=true') }}"

kube_controller_manager_image="registry.k8s.io/kube-controller-manager:v{{ k8s_version | default('1.31.0') }}"
kube_controller_manager_bind_address="{{ kube_controller_manager_bind_address | default('0.0.0.0') }}"
kube_controller_manager_cluster_name="{{ kube_controller_manager_cluster_name | default('kubernetes') }}"
kube_controller_manager_use_service_account_credentials="{{ kube_controller_manager_use_service_account_credentials | default('true') }}"
kube_controller_manager_controllers="{{ kube_controller_manager_controllers | default('*,bootstrapsigner,tokencleaner,csrapproving,csrsigning') }}"

kube_scheduler_image="registry.k8s.io/kube-scheduler:v{{ k8s_version | default('1.31.0') }}"
